MONGODB_URI = #Your mongodb here

# UBAH TANGGAL COUNTDOWN
NEXT_PUBLIC_EVENT_DATE = 2026-06-01T00:00:00
NEXT_PUBLIC_COUPLE_NAMES = Duy Nhật & Huệ Trâm

#Groom
NEXT_PUBLIC_GROOM_NAME = Võ Duy Nhật
NEXT_PUBLIC_GROOM_NICKNAME = Duy Nhat
NEXT_PUBLIC_GROOM_INSTAGRAM = voduynhathm
NEXT_PUBLIC_GROOM_BIO = "Anh tự nhận thấy mình là một người hiền lành và ít lời. Anh luôn đặt tình cảm và yêu thương gia đình lên hàng đầu. Gia đình đối với anh là một trụ cột vững chắc nhất và một nơi bình yên không thể nào so sánh được với bất cứ điều gì. Yêu em."

#Bride
NEXT_PUBLIC_BRIDE_NAME = Nguyễn Huỳnh Huệ Trâm
NEXT_PUBLIC_BRIDE_NICKNAME = Hue Tram
NEXT_PUBLIC_BRIDE_INSTAGRAM = huetram1825
NEXT_PUBLIC_BRIDE_BIO = "Em là cô gái với nhiều mộng mơ. Là một người hay cười nhưng lại sống nội tâm, thích trò chuyện, trồng cây và yêu thiên nhiên. Em ước mơ có 1 mái ấm hạnh phúc, cùng chồng mình làm nên những điều đẹp đẽ của phần còn lại của cuộc đời. Yêu anh."

#SLIDE
NEXT_PUBLIC_BIBLE_VERSE = Wedding Events 01/06/2026
NEXT_PUBLIC_BIBLE_VERSE_CONTENT = "Đám cưới không chỉ đơn giản là buổi lễ, nó là lời hứa giữa hai người yêu thương nhau rằng họ sẽ cùng nhau đi qua mọi thăng trầm của cuộc sống"

#TIMELINE 
NEXT_PUBLIC_YEAR_1 = AUGUST 2024
NEXT_PUBLIC_YEAR_1_CONTENT="2024, we started our journey as two individuals who were just getting to know each other. We were excited to explore what the future held for us and were eager to see where our paths would lead."
NEXT_PUBLIC_YEAR_2 = AUGUST 2025
NEXT_PUBLIC_YEAR_2_CONTENT="In 2025, we continued our journey, facing challenges and obstacles along the way. We learned how to communicate effectively and work together as a team, and our relationship grew stronger as a result."
NEXT_PUBLIC_YEAR_3 = JUNE 2026
NEXT_PUBLIC_YEAR_3_CONTENT="And now, in 2026, we have reached the pinnacle of our journey – marriage. It has been a joyous and exciting ride filled with laughter, love, and endless possibilities. We have made countless memories together, from our first date to our engagement, and now our wedding day. Our journey has been a fulfilling one, and we are grateful for every moment we have shared. We look forward to continuing our adventure as a married couple."

#Event Bride
NEXT_PUBLIC_HOLY_MATRIMONY=true
NEXT_PUBLIC_HOLY_MATRIMONY_TIME = 23/05/2026 11.00 AM
NEXT_PUBLIC_HOLY_MATRIMONY_PLACE = Tư gia nữ
NEXT_PUBLIC_HOLY_MATRIMONY_PLACE_DETAILS = Tổ dân phố Lệ Uyên, phường Sông Cầu, tỉnh Đăk Lăk
NEXT_PUBLIC_HOLY_MATRIMONY_GOOGLE_MAPS = https://maps.app.goo.gl/87jmeJUuKGYA3Db18


#Event Groom
NEXT_PUBLIC_WEDDING_RECEPTION=true
NEXT_PUBLIC_WEDDING_RECEPTION_TIME =01/06/2026 02.00PM
NEXT_PUBLIC_WEDDING_RECEPTION_PLACE = Tư gia nam
NEXT_PUBLIC_WEDDING_RECEPTION_PLACE_DETAILS = Tổ dân phố Công Lương, phường Hoài Nhơn Đông, tỉnh Gia Lai
NEXT_PUBLIC_WEDDING_RECEPTION_GOOGLE_MAPS = https://maps.app.goo.gl/w86g8ie2FS1bSJ5F6


#LIVE STREAMING
NEXT_PUBLIC_LIVE_STREAMING=true
NEXT_PUBLIC_LIVE_STREAMING_TIME = 01/06/2026
NEXT_PUBLIC_LIVE_STREAMING_DETAIL = Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
# NEXT_PUBLIC_LIVE_STREAMING_LINK = https://www.youtube.com/watch?v=Q5J

#PREWEEDING_VIDEO
NEXT_PUBLIC_PREWEDDING=true
NEXT_PUBLIC_PREWEDDING_CODE_LINK_EMBED= YkO-e-gyp58
NEXT_PUBLIC_PREWEDDING_DETAIL = Every love story is beautiful, but ours is my favorite. Through the highs and lows, our love grows stronger and deeper with each passing day

#RSVP
NEXT_PUBLIC_RSVP=true
NEXT_PUBLIC_RSVP_DETAIL=  Hãy gửi lời chúc và xác nhận tham dự của bạn bằng form bên dưới nhé. Cảm ơn bạn rất nhiều!.

#THANK YOU
NEXT_PUBLIC_THANKYOU = Thank You For Your attendance
NEXT_PUBLIC_THANKYOU_DETAIL = It is a pleasure and honor for us, if you are willing to attend and give us your blessing.